body{
    background: linear-gradient(to bottom, #25093b, #080109);
    font-family: 'Roboto', sans-serif;
};

#about-us{
    scroll-margin-top: 80px
}

.about{
    scroll-margin-top: 80px
}
#prices{
    scroll-margin-top: 100px;
}

html, body { 
    scroll-behavior: smooth
  }